#heading{
	font-family: 'Kaushan Script', cursive;
	color:black;
	text-align: center;
	margin:auto;
	margin-top: 10vh;
}

.headingName{
	text-align: center;
	vertical-align: middle;
	height: 100%;
	font-size: calc(2vh + 7vw);
}


@media only screen and (min-width: 601px) {
	h1 .headingName{
		font-size: 200px;
	}
}

@media only screen and (max-width: 600px) {
	h1 .headingName{
		font-size: 20px;
	}
}

#about p {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-bottom: 5%;
	color:black;
}

.navbar {
	font-size: 25px;
	font-family: 'Kaushan Script', cursive;
	color: black;
}

.navbar-brand {
	color: black;
	font-weight: bold;
	font-size: 35px;
}

#navBarBrand:hover {
	color: black;
}
.navbar-nav > li > a {
   color: black; /*Change active text color here*/
}

.navbar-nav >li > .active:hover {
	background-color: #336600;
	color: #336600;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: black;
} 

@media (max-width: 600px) {
  #about {
    height: 60vh;
  }
}

@media (min-width: 600px) {
  #about {
    height: 100vh;
  }
}

#about {
	
	
	width: auto;
	/*background-image: url(images/winterBackground.jpeg);*/
	background-color: #F5EEE8;
	background-image: url(images/invite.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	background-position:center top;   
}

.title {
	font-size: 70px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}

#headline {
	text-align: center;
	vertical-align: middle;
}

div h2 {
	text-shadow: 2px 1px 2px grey;
}

#infoList {
	padding: 3%;

}


#info p {
	color: black;
	font-size: calc(15px + 0.12vw);
	text-align: center;
}

.registry_tile {
	width: 50%;
	height: auto;
}

#registry {
	height: 100vh;
	width: auto;
	padding: 5%;
	
}

#registry .col-md-6{
	margin-bottom: calc(20px + 1.5vh);
}

#registry img {
	height:auto;
    width: 75%;
    margin: auto;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
}

#registry img:hover {
	transform: scale(1.25, 1.25);
}

.text-center {
	color:black;
}

#carnival img {
	height:auto;
    width: 60%;
    margin-bottom: 10%;
}

h2{
	margin-bottom: 7%;
}

#infoList p { 
	font-size: calc(2vh + 0.5vw);
}

p {
	font-family: 'Roboto Slab', serif;
}

footer {
	padding: 3%;
	
	background-color: #971110;
}

footer p {
	margin-top: 2%;
	color: white;
	font-size: calc(10px + 1.5vw);
}
