#heading{
	font-family: 'Kaushan Script', cursive;
	color:black;
	text-align: center;
	margin:auto;
	margin-top: 10vh;
}

.headingName{
	text-align: center;
	vertical-align: middle;
	height: 100%;
	font-size: calc(2vh + 7vw);
}


@media only screen and (min-width: 601px) {
	h1 .headingName{
		font-size: 200px;
	}
}

@media only screen and (max-width: 600px) {
	h1 .headingName{
		font-size: 20px;
	}
}

#about p {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-bottom: 5%;
	color:black;
}

.navbar {
	font-size: 25px;
	font-family: 'Kaushan Script', cursive;
}

.navbar-brand {
	color: black;
	font-weight: bold;
	font-size: 35px;
}

#navBarBrand:hover {
	color: black;
}
.navbar-nav > li > a {
   color: black; /*Change active text color here*/
}

.navbar-nav >li > .active:hover {
	background-color: #336600;
	color: #336600;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: black;
} 

#about {
	
	height: 100vh;
	width: auto;
	/*background-image: url(images/winterBackground.jpeg);*/
	background-image: url(images/new_york_skyline_edited.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;   
}

#title {
	text-align: center;
	vertical-align: middle;
}

#headline {
	text-align: center;
	vertical-align: middle;
}



.container {
	padding: 80px 120px;
}

div h2 {
	text-shadow: 2px 1px 2px grey;
}

#info {
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 5%;
}

#infoList {

}

#info p {
	color: black;
	font-size: calc(15px + 0.15vw);
	text-align: center;
}

#info #infoParagraph {
	color: black;
	margin-top: 3%;
}

.glyphicon {
	margin-right: 6px;
}


#glyphicon-gift {
	font-size: calc(15px + 2vw);
	margin: 5px;
}

.registry_tile {
	width: 50%;
	height: auto;
}

#registry {
	height: 100vh;
	width: auto;
	padding: 5%;
	background-color: whitesmoke;
}

#registry .col-md-6{
	margin-bottom: calc(20px + 1.5vh);
}

#registry img {
	height:auto;
    width: 75%;
    margin: auto;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
}

#registry img:hover {
	transform: scale(1.25, 1.25);
}

.text-center {
	font-family: 'Kaushan Script', cursive;
	font-size: calc(30px + 1.5vw);
	color:black;
}


h2{
	margin-bottom: 10%;
}

#infoList p { 
	font-size: calc(2vh + 0.5vw);
}

p {
	font-family: 'Roboto Slab', serif;
}

footer {
	padding: 3%;
	font-size: 20px;
	background-color: black;
}

footer p {
	margin-top: 2%;
	color: white;
	font-size: calc(10px + 1.5vw);
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
