.navbar {
	background-color: #d9d9d9;
	border-color: #147482;
	font-size: 15px;
}

.navbar-brand {
	color: #990000;
	font-weight: bold;
}
.navbar-brand:hover {
	color: white;
}
.navbar-nav > li > a {
   color: #336600; /*Change active text color here*/
}

.navbar-nav >li > .active:hover {
	background-color: #336600;
	color: #336600;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: white;
} 


.container {
	padding: 80px 120px;
}

div h2 {
	text-shadow: 2px 1px 2px grey;
}

#info .well {
	margin-left: 1.5%;
	margin-right: 1.5%;
	background-color: #990000;
}

#info p {
	color: white;
	font-size: calc(15px + 0.15vw);
	text-align: center;
}

#info #infoParagraph {
	color: black;
	margin: 5%;
}

.glyphicon {
	margin-right: 6px;
}


#glyphicon-gift {
	font-size: calc(15px + 2vw);
	margin: 5px;
}

.registry_tile {
	width: 50%;
	height: auto;
}

.registry_tile img {
	width: 30%;
	height: auto;
}

#registry {
	height: 100vh;
	width: auto;
	padding: 5%;
	background-color: white;
}

#registry .col-md-6{
	margin-bottom: calc(20px + 1.5vh);
}

#registry img {
	height:auto;
    width: calc(40vh + 1.5vh);
    margin: auto;
    display: block;
}

#registry img:hover {
	transform: scale(1.25, 1.25);
}

footer {
	padding: 5%;
	color: white;
	font-size: 20px;
	background-color: #147482;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
